PORT=3000
MONGODB_USER=emirhanbuyuksenirli
MONGODB_PASSWORD=OoVPpQusuaar4ibQ
MONGODB_URL=mongodb+srv://emirhanbuyuksenirli:OoVPpQusuaar4ibQ@cluster0.rt8rrct.mongodb.net/contact?retryWrites=true&w=majority
MONGODB_DB=contact
